<form action = "/random/results">
<div>
  <label for = "user_min_id">Minimum</label>
  <input name = "user_min" id = "user_min_id" type = "text" placeholder = "E.g. 1.5">
</div>

<div>
  <label for = "user_max_id">Maximum</label>
  <input name = "user_max" id = "user_max_id" type ="text" placeholder = "E.g. 4.5">
</div>

<div>
  <button>Pick random number</button>
</div>
</form>
