<form action = "/square/results">
  <div><label for = "number_id">Enter a number</label></div>
  <div><input id = "number_id" name = "number" type = "text"></input></div>
  <div><button>Calculate square</button></div>
</form>
