<form action = "/square_root/results">
  <div><label for = "number_id">Enter a number</label> 
       <input id = "number_id" name = "number" type = "text"></input>
  </div>
  
  <div><button>Calculate square root</button></div>
</form>
